// Place all the styles related to the public/cart_items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.heading{
  position: relative;
  margin-bottom: 30px;
  .destroy-all-btn{
    position: absolute;
    right: 0;
  }
}

table tr th{
  background-color: #eeeeee;
}

.form-inline {
  // .amount-form{
  //   width: 50px;
  // }
  .update-btn{
    width: 50px;
  }
}