// Place all the styles related to the public/orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.form-group{
  padding: 0 30px;
}

div.deliver-where{
  margin: 0 30px 15px;
  padding: 0 30px;
  .form-control{
    width: 300px;
  }
  &:nth-last-child{
    margin: 0 30px;
  }
}

.next-btn{
  margin-top: 50px;
}

table tr th{
  background-color: #eeeeee;
}

.thanks-text{
  margin-top: 150px;
}

.order-index-title{
  margin-left: 150px;
}

table.order-table tbody tr td{
  vertical-align: middle;
}