// Place all the styles related to the admin/categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// .table-category{
//   tbody tr td{
//     line-height: 3;
//   }
// }

.category-new-title{
  margin-bottom: 20px;
}

.category-name-field{
  margin-right: 10px;
}

.control-label{
  margin-right: 10px;
}