<tr>
  <td style="line-height: 3;"><%= category.name %></td>
  <td style="line-height: 3;"><%= category.status %></td>
  <td style="line-height: 3;"><%= link_to "編集する", edit_admin_category_path(category), class: "btn btn-primary btn-sm" %></td>
</tr>