<table class="table" style="border: 1px solid #eeeeee">
  <thead><tr><th>ジャンル検索</th></tr></thead>
  <tbody>
    <% Category.all.each do |category| %>
      <tr><td><%= link_to category.name, search_path(category), style: "text-decoration: none;" %></td></tr>
    <% end %>
  </tbody>
</table>